.card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 1px 8px #ccc;
    margin: 16px auto;
}

.titulo {
    align-items: center;
    border-bottom: 1px solid #ddd;
    color: #444;
    display: flex;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.titulo div:nth-child(1) {
    flex-grow: 1;
}

.titulo div:nth-child(2) {
    color: #aaa;
    font-size: 0.6em;
}

.conteudo {
    color: #777;
    font-size: 1em;
    line-height: 26px;
}

.card, .titulo, .conteudo {
    padding: 8px;
}